.bodyHome {
  height: 600px;
  background-color: #1abc9c;
  margin-bottom: 0;
  padding-bottom: 0px;
}

img {
  text-align: center;
  width: 250px;
  padding-top: 30px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.line {
  height: 5px;
  width: 130px;
  background-color: white;
}
